*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: black;
  color: white;
}
main{
  width: 80%;
  margin: auto;
}
header{
  width: 100%;
  height:100px;
  background: brown;
}

.cartIcon{
  font-size: 40px;
  color:white;
  margin:10px 20px;
  float:right;
}

h1{
  color:white;
  margin-bottom: 20px;
}
button{
  width: 120px;
  height:40px;
  display:block;
  margin: 30px auto;
  background: brown;
  color:white;
}
.row{
  width:100%;
  margin:auto;

}
.col{
  width:40%;
  margin: 5%;
  float:left;
}
.row:after, header:after, .totalAmount:after{
  clear: both;
  display:table;
  content:"";
}
.menu-img{
  width: 100%;
  border:1px solid brown;
}
.cart{
  font-size: 20px;

}

pre{
  margin: 20px 0;
  font-size: 1.3rem;
}

.itemPrice{
  color:white;
}

#amount{
  color:white;

  /* border:1px solid white; */
}


#back{
  float:left;
  margin:10px 20px;
}
